* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
:root {
  --primary-color: #fa7436;
  --primary-color-dark-orange: #f05323;
  --primary-color-green: #5fb49c;
  --primary-color-green-dark: #36967b;
  --primary-color-green-btn: linear-gradient(270deg, #5fb49c, #3b8686);
  --secondary-color: #faf1f1;
  --button-color-orange: linear-gradient(270deg, #ff994f, #fa6d86);
  --tour-card-color: #5086c0;
  --testimonial-background-color: #faf1f1;
  --testimonail-use-cyrcle-color: rgb(0, 122, 255);
  --text-color: rgb(26, 26, 26);
  --text-color-p-grey: rgb(89, 89, 89);
  --text-color-p-black: rgb(38, 38, 38);
  --rating-start-color: rgb(255, 183, 0);
  --primary-dark-blue-color: #003580;
  --tour-bg-color: #f2e5d7;
}

.about-us-section {
  background-color: #f2e5d7;
}

.abour-us-header {
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.1), rgba(4, 9, 30, 0.1)),
    url(/images/highlights/2\ arashan.png);
  background-size: cover;
  text-align: center;
  color: #fff;
}

.abour-us-header h1 {
  margin-top: -100px;
  color: #fff;
}

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.about-us {
  width: 100%;
  height: 80vh;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 50px;
}

.about-col {
  flex-basis: 48%;
  padding: 2px;
}
.about-col h1 {
  padding-top: 0;
  font-size: 36px;
}
.about-col p {
  padding: 15px 0 25px;
  font-size: 16px;
  color: #777777;
  font-weight: 300;
  line-height: 22px;
}

.hero-btn.red-btn {
  border: 1px solid #f44336;
  background: transparent;
  color: #f44336;
}
.hero-btn.red-btn:hover {
  border: 1px solid #f44336;
  background: #f44336;
  color: #fff;
}
.hero-btn.red-btn::after {
  background: #f44336;
}
.hero-btn.red-btn::before {
  background: #f44336;
}
.content-image {
  flex-basis: 50%;
}

.about-col-img {
  width: 100%;
}
.about-col img {
  width: 100%;
  height: 40vh;
  margin: auto;
  object-fit: cover;
}
