body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  color: #333;
}

.header {
  padding-top: 1%;
  padding-bottom: 1%;
  width: 100%;
  background-color: #42778f;
}

nav {
  display: flex;
  padding: 0% 15%;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 250px;
}
.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 0px 12px;
  position: relative;
}
.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}
.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after {
  width: 100%;
}
nav .fa {
  display: none;
}
.blog-container {
  max-width: 800px;
  margin: 0px auto;
  padding-bottom: 20px;
  border-radius: 0px;
}

.blog-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

h1 {
  color: #2b2b2b;
  font-size: 28px;
  margin-top: 64px;
  margin-bottom: 16px;
}
img {
  width: 100%;
  height: auto;
}
h2 {
  color: #2b2b2b;
  font-size: 24px;
}
.highlight {
  background-color: #e6f7ff;
  padding: 10px;
  border-left: 5px solid #0078a8;
}

.related-blogs-section {
  width: 80%;
  margin: auto;
  margin-bottom: 200px;
  margin-top: 200px;
}

.related-blogs {
  background-color: #ffff;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  gap: 20px;
}
.related-blog-item {
  width: 30%;
  background-color: none;
  border-radius: 8px;
  text-align: left;
  padding: 10px;
  cursor: pointer;
  overflow: hidden;
}

.related-blog-item img {
  transition: transform 0.3s ease-in-out;
  width: 100%;
  height: auto;
}

.related-blog-item:hover img {
  transform: scale(1.05);
}
.related-blog-item img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.related-blog-item a {
  text-decoration: none;
  color: #0078a8;
  font-weight: bold;
}
@media (max-width: 768px) {
  .container {
    width: 90%;
    padding: 15px;
  }
  .related-blogs {
    flex-direction: column;
  }
  .related-blog-item {
    width: 100%;
  }
}
