/*---------------------------- contact ----------------------------*/

.contact-section {
  background-color: #f2e5d7;
}

.contact-sub-header {
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.1), rgba(4, 9, 30, 0.8)),
    url(/images/highlights/4\ yurt-experience.png);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}

.contact-sub-header h1 {
  color: #fff;
}

.contact-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contact-left {
  width: 500px;
  height: 464px;
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 50px;
}

.contact-left-title h2 {
  font-weight: 600px;
  color: var(--text-color);
  font-size: 40px;
  margin-bottom: 5px;
}

.contact-left-title p {
  padding-top: 10px;
  color: var(--text-color-p-grey);
}

.connect-links p {
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color-p-black);
}

.email-address {
  display: flex;
  align-items: center;
}

.contact-emil-text {
  text-decoration: none;
  color: var(--primary-dark-blue-color);
}

.email-address .fa {
  padding-right: 15px;
}

.social-links {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.email-address .fa {
  color: #f4511e;
}

.social-links .fa {
  color: #f4511e;
  padding-right: 40px;
}

.social-links .fa:hover {
  color: #e14819;
}

.contact-right {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  padding-right: 100px;
}

.contact-right-title h2 {
  font-weight: 600px;
  color: var(--text-color);
  font-size: 40px;
  margin-bottom: 5px;
}

.contact-right-title hr {
  border: none;
  width: 120px;
  height: 5px;
  background-color: var(--primary-color);
  border-radius: 10px;
  margin-bottom: 20px;
}

.contact-inputs {
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  color: var(--text-color-p-grey);
  border-radius: 50px;
}

.contact-right textarea {
  height: 140px;
  padding-top: 15px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
}

.contact-inputs:focus {
  border: 2px solid #ff994f;
}

.contact-inputs::placeholder {
  color: #a9a9a9;
}

.contact-btn {
  background: linear-gradient(270deg, #ff994f, #fa6d86);
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 24px;
  padding: 12px 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  border-radius: 50px;
}

.contact-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.contact-btn span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.contact-btn:hover span {
  padding-right: 25px;
}

.contact-btn:hover span:after {
  opacity: 1;
  right: 0;
}

@media (max-width: 800px) {
  .contact-container {
    display: inline;
  }

  .contact-inputs {
    width: 80vw;
  }

  .contact-right-title h2 {
    font-size: 32px;
  }

  .contact-left-title h2 {
    font-size: 32px;
  }

  .contact-right {
    padding-right: 0px;
    padding-left: 50px;
    padding-bottom: 50px;
  }

  .contact-left {
    height: 400px;
    padding-left: 50px;
    padding-top: 30px;
  }

  .contact-left-title p {
    width: 90%;
  }

  .contact-left {
    gap: 30px;
  }
}

@media (max-width: 700px) {
  .about-sub-header {
    height: 400px;
  }

  .about-sub-header ul li a {
    color: white;
  }
}

@media only screen and (max-width: 550px) {
  .contact-left {
    width: 90%;
    height: 464px;
    padding-left: 50px;
  }

  .contact-sub-header h1 {
    margin-top: 150px;
  }

  .about-sub-header h1 {
    margin-top: 150px;
  }
}
