body {
  -webkit-overflow-scrolling: touch;
}

.map-section-container {
  padding: 20px;
  margin: 200px auto;
  width: 80%;
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  height: 100%;
}

.map-row {
  width: 70%;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 50px;
}

.map-row p {
  width: 60%;
  margin-bottom: 15px;
}

.map-section-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.google-map {
  margin-bottom: 30px;
}

.map-text {
  margin-bottom: 20px;
}

.map-text p {
  font-size: 16px;
  line-height: 1.5;
}

.google-map-link {
  display: block;
  margin-bottom: 20px;
}

.google-btn {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.google-btn:hover {
  background-color: #3e8e41;
}

.map-image {
  text-align: center;
}

.map-image img {
  width: 90%;
  height: auto;
  border-radius: 10px;
}

/* Small Phones (up to iPhone SE) */
@media only screen and (max-width: 320px) {
  /* Styles for very small devices */
}

/* Medium Phones (iPhone 6, 7, 8, X, 11, 12, 13, 14) */
@media only screen and (max-width: 414px) {
  .map-section-container {
    position: relative;
    width: 90%;
    padding: 0px;
    margin: 0px auto;
    margin-bottom: 150px;
  }

  .map-row {
    width: 100%;
    padding: 20px;
  }

  .map-image {
    text-align: center;
  }

  .map-row p {
    width: 80%;
  }

  .map-image img {
    width: 100%;
    margin: auto;
  }
}

/* Tablets (iPads, larger phones in landscape mode) */
@media only screen and (max-width: 768px) {
  .map-section-container {
    margin: 0px auto;
    margin-bottom: 100px;
  }

  .map-row {
    width: 100%;
  }
}
