/*---------- why choose us--------*/

body {
  overflow-y: auto;
}

.our-partners-section {
  background-color: #fff;
}

.our-partners {
  width: 80%;
  height: auto;
  margin: auto;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 150px;
  height: 624px;
}

.our-partners h1 {
  font-size: 32px;
  font-weight: 600;
  color: #333;
  margin-bottom: 30px;
}

.our-partners-description {
  width: 55%;
  margin: auto;
  font-family: Lato;
  font-weight: 400;
  font-style: normal;
  color: rgb(117, 135, 104);
  font-size: 18px;
  margin-bottom: 50px;
}

.our-partners p {
  color: var(--text-color-p-grey);
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.row {
  display: flex;
  flex-basis: 48%;
  justify-content: space-evenly;
}

.why-col img {
  width: 100%;
  margin: auto;
}

.why-us h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
  color: var(--text-color-p-grey);
}

@media (max-width: 700px) {
  .our-partners {
    margin-bottom: 100px;
  }

  .why-us h1 {
    font-size: 24px;
  }
  .row {
    flex-direction: column;
  }

  .our-partners-description {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .our-partners {
    margin-bottom: 100px;
  }

  .our-partners h1 {
    font-size: 24px;
  }

  .our-partners-description {
    font-size: 16px;
  }
}
