.start-plan {
  margin: 0;
  padding: 0;
  height: 90vh;
}

.plan-content {
  /*
  background-image: url("/images/images/highlights-scroll-photo-5.jpg");
  */
  background-image: url(../images/images/highlights-scroll-photo-5.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 940px;
  height: 100%;
  margin: auto;
}

.plan-info {
  position: absolute;
  background: none;
  border: 1px solid #758768;
  height: 607px;
  width: 851px;
  padding-top: 50px;
  padding-left: 40px;
}

.plan-column h2 {
  width: 47%;
  font-weight: 700;
  font-weight: bold;
  font-size: 48px;
  color: rgb(255, 255, 255);
}

.plan-column p {
  color: rgb(255, 255, 255);
  width: 45%;
  font-size: 20px;
}

.plan-btn {
  display: inline-block;
  position: absolute;
  top: 80%;
  left: 14%;
  transform: translate(-50%, -50%);
  text-align: center;
}

@media (max-width: 480px) {
  .plan-content {
    width: 90%;
  }

  .plan-column {
    margin-top: 30px;
  }

  .plan-info {
    position: absolute;
    background: none;
    border: 1px solid #758768;
    height: 80%;
    width: 60% !important;
    padding-top: 50px;
    padding-left: 0px;
  }

  .plan-column h2 {
    width: 90%;
    margin-bottom: 10px;
    margin-left: 10%;
    font-size: 24px;
  }

  .plan-column p {
    width: 80%;
    margin-left: 10%;
    font-size: 16px !important;
  }

  .plan-btn {
    left: 40%;
  }

  .plan-column p {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .plan-content {
    width: 80%;
    background-size: cover;
    background-position: center;
  }

  .plan-column {
    margin-top: 30px;
  }

  .plan-info {
    position: absolute;
    background: none;
    border: 1px solid #758768;
    height: 80%;
    width: 60% !important;
    padding-top: 50px;
    padding-left: 0px;
  }

  .plan-column h2 {
    width: 90%;
    margin-bottom: 10px;
    margin-left: 10%;
    font-size: 28px;
  }

  .plan-column p {
    width: 80%;
    margin-left: 10%;
    font-size: 16px !important;
  }

  .plan-btn {
    left: 27%;
    top: 80%;
  }

  .plan-column p {
    font-size: 18px;
  }
}
